/* .header{
  background-color: aqua;
  color: black;
  height: 150px;
  text-align: center;
}
.menu{
  background-color: red;
  color: black;
  height: 400px;
  text-align: center;
}
.content{
  background-color:yellowgreen;
  color: black;
  height: 400px;
  text-align: center;
}
.footer{
  background-color: plum;
  color: black;
  height: 150px;
  text-align: center;
} */